body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgba(243, 165, 222, 0.434);
}

header {
    background-color: #000000;
    color: #fff;
    text-align: center;
    padding: 20px;
}

#cabecalho {
    margin: 0;
    font-size: 30px;
}

#bemvindo {
    margin: 0;
    font-size: 20px;
}

#camiseta {
    border: 3px solid rgb(0, 0, 0);
    color: rgb(0, 0, 0);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    font-size: 25px;
}

#feminina1{
    width: 250px;
    height: auto;
    margin-right: 5px;
}


#pfm {
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    margin-bottom: 20px; /* Adicionado espaço entre as imagens e parágrafos */
}

#conteudo1 {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

#conteudo1 h3 {
    width: 100%;
    text-align: center;
}