body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgba(136, 137, 141, 0.522);
}

a {
    text-decoration: none;
    color: #fff;
}

header {
    background-color: #000000;
    color: #fff;
    text-align: center;
    position:fixed top;
    
     /* Ajuste para evitar sobreposição com a barra de menu */
}

#Menu {
    align-items: center;
    height: 60px;
    width: 100%;
    background-color: black;
    margin-top: 0; /* Ajuste para remover o espaço acima do menu */
}


.logo {
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.logo-img {
    width: 40%;
    height: auto;
}

.logo-text {
    font-family: sans-serif;
    font-size: 1rem;
    margin-left: 10px;
}

#pag {
    display: flex;
    align-items: center;
    margin-left: 10px;
}

#pag ul {
    display: flex;
    list-style: none;
    margin-right: 20px;
}

#pag li {
    margin-right: 20px;
}

#pag a {
    text-decoration: none;
    color: #fff;
}

main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 70px; /* Ajuste para evitar sobreposição com a barra de menu */
}

.social-media {
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.social-media a {
    margin-left: 10px;
}

#cabecalho {
    margin: 0;
    font-size: 30px;
    text-align: center;
    color: #fff;
    background-color: #000;
}

#bemvindo {
    margin: 0;
    font-size: 20px;
    text-align: center;
    color: #fff;
    background-color: #000;
}

/* Conteúdo Feminino */

h3{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    font-size: 25px;
}

#conteudo1,
#conteudo2,
#conteudo3,
#conteudo4,
#conteudo5,
#conteudo6,
#conteudo7{
    display: flex;
    justify-content: space-around; /* Distribui os elementos igualmente na linha */
    align-items: center; /* Centraliza verticalmente os elementos */
}

.produto {
    text-align: center;
    width: 300px;
    height: auto;
}

.imagem-produto {
    max-width: 100%; /* Garante que a imagem não ultrapasse a largura do contêiner pai */
}

.produto {
    font-size: 20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 10px; /* Ajuste a margem superior conforme necessário */
}

.descricao{
    margin-top: 10px; /* Ajuste a margem superior conforme necessário */
}


footer {
    text-align: center;
    margin-top: 50px;
}

footer a {
    text-decoration: none;
    color: #000;
}
