body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgba(232, 232, 232, 0.434);
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}

#cabecalho {
    margin: 0;
    font-size: 30px;
}

#bemvindo {
    margin: 0;
    font-size: 20px;
}

#camiseta{
    border: 3px solid rgb(0, 0, 0);
    color:rgb(0, 0, 0);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    font-size: 25px;
}

#camisa1{
    width: 300px; 
    height: auto;
}

#p1nike{
    font-size: 20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

/* div1 */
#camisa1,
#camisa1{
    display: inline-block;
    width: 300px;
    height: auto;
    margin-right: 10px;
}

#p1nike,
#p1nike{
    display: inline-block;
    vertical-align: top;
}
/* div1 */

/* div2 */
#camisa1,
#camisa1{
    display: inline-block;
    width: 300px;
    height: auto;
    margin-right: 10px;
}

#p1nike,
#p1nike{
    display: inline-block;
    vertical-align: top;
}
/* div2 */

#camisa1,
#camisa1{
    display: inline-block;
    width: 300px;
    height: auto;
    margin-right: 10px;
}

#p1nike,
#p1nike{
    display: inline-block;
    vertical-align: top;
  }