@import url(''); /* Certifique-se de adicionar a URL do seu arquivo de fontes, se necessário */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    color: #fff;
}

body {
    background-image: url(..//Clones/FUNDO/FUNDO1.png);
    background-size: cover;
    display: flex;
    align-items: center;
    word-wrap: break-word;
    margin: 0;
}

a {
    text-decoration: none;
    color: #fff;
}

header {
    height: 70px;
    display: flex;
    justify-content: space-between; /* Para alinhar os elementos horizontalmente */
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

#Menu {
    display: flex;
    align-items: center;
    height: 10%; /* Alterei a altura para 10% */
    width: 100%;
    background-color: black;
    position: fixed;
}

.logo {
    display: flex;
    align-items: center;
    margin-left: 20px; /* Adicionado para dar um espaçamento à esquerda */
}

.logo-img {
    width: 40%;
    height: auto;
}

.logo-text {
    font-family: sans-serif;
    font-size: 1rem;
    margin-left: 10px;
}

#pag {
    display: flex;
    align-items: center;
    margin-left: auto;
}

#pag ul {
    display: flex;
    list-style: none;
    margin-right: 20px; /* Adicionado para dar um espaçamento à direita */
}

#pag li {
    margin-right: 20px;
}

#pag a {
    text-decoration: none;
    color: #fff;
}

.main-container {
    display: flex; /*pertime ser organizado em linhas ou colunas*/
    align-items: center; /* Centraliza verticalmente os elementos dentro do contêiner */
    flex-direction: column; /* Define a direção do layout como coluna, organizando os elementos verticalmente */
    width: 100%;/* Define a largura do elemento como 100%*/
    padding: 10% 20px 30px;/* Define o preenchimento (padding) do elemento */
}

h1 {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 20px;
    color: rgb(255, 255, 255);
    font-weight: 300;
}


.social-media {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 20px; /* Adicionado para dar um espaçamento à direita */
}

.social-media a {
    margin-left: 10px;
}



.conteudo1 {
    display: flex;
    justify-content: space-around; /* Distribui os elementos igualmente na linha */
    align-items: center;
}

.imagem {
    
    max-width: 90%;
}

.descricao{
    margin-top: 10px; /* Ajuste a margem superior conforme necessário */
}

.produto {
    text-align: center;
    width: 300px;
    height: auto;
    font-size: 20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 10px; /* Ajuste a margem superior conforme necessário */  
    transition: transform 0.3s ease-in-out;/* Adiciona uma transição suave */
}
.produto:hover{
    transform: scale(1.1);   /* Aumenta o tamanho do produto em 10% ao passar o mouse sobre ele */ 
}


.banner {
    max-width: 90%;/* Define a largura máxima do banner como 90% da largura do contêiner pai */
    border-radius: 8px;/*arredondar as bordas do banner */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.655);/* Adiciona uma sombra ao banner*/
    transition: transform 0.3s ease-in-out; /* Adiciona uma transição suave de 0.3 segundos ao efeito de transformação */
}

.banner:hover {     
transform: scale(1.1); /* Aumenta o tamanho do banner em 10% ao passar o mouse sobre ele */
}

